/*CSS document*/

body {
    background-color: #E5E2DB;
    color: #4F442C;
    font-family: "quiche-flare", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #4F442C;
}

div.container {
    max-width: 80em;
    margin: auto;
    background-color: #F4F3ED;
    padding: 2em;
    border-radius: 5px;
}

div.article {
    max-width: 60em;
    margin: auto;
    background-color: #F4F3ED;
    padding: 5em;
    border-radius: 5px;
}

section {
    max-width: 40em;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "english-small-caps", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

h1 {
    max-width: 30em;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

label {
    cursor: pointer;
}

label img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 2em;
}

nav ul li {
    display: inline;
    margin-right: 2.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.text-teaser {
    border-top: 1px #4F442C solid;
}

.subscription-form {
    margin-top: 2em; 
}

form {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    margin: auto;
    background-color: #F4F3ED; 
    padding: 2em; 
    border-radius: 5px; 
}

label {
    margin-bottom: 0.5em;
}

input {
    padding: 0.8em; 
    margin-bottom: 1em;
    width: 100%; 
}

button {
    background-color: #4F442C;
    color: #E5E2DB;
    padding: 0.5em;
    cursor: pointer;
    border: none;
    border-radius: 5px; 
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.checkbox-group label {
    margin-right: 1em;
}

.photogallery .article {
    max-width: 80em;
    margin: auto;
    background-color: #F4F3ED;
    padding: 2em;
    border-radius: 5px;
  }
  
  .photogallery main.gallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(72% + 3em);
  }
  
  .photogallery figure {
    margin: 0;
    width: 100%;
    opacity: 1;
    transition: opacity 1s;
}
  
  .photogallery nav.gallery {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
  }

  .photogallery input:checked ~ .gallery figure {
    opacity: 0;
}

@media screen and (min-width: 60em) {
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column: 1/2;
        grid-gap: 0 1em;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1/2;
        grid-gap: 0 1em;
    }

    aside {
        grid-column: 2/3;
    }

    section.main-story-teaser {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        padding-bottom: 3em;
    }

    section.main-story-teaser a {
        flex: 1 0 10em;
        display: flex;
        flex-direction: column;
    }

    section.main-story-teaser a figure {
        flex: 1 0 10em;
    }
    
    section.main-story-teaser a h3 {
        flex: 0 0 auto;
        margin: 0;
    }
    
    section.main-story-teaser a p {
        flex: 0 0 auto
    }
    
    section.main-story-teaser a figure img {
        height: 95%;
    }
}